html, body {
	margin: 0;
	padding: 0;
}

body{
	background: -moz-linear-gradient(45deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(43,88,118,1)), color-stop(100%, rgba(78,67,118,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4376', endColorstr='#2b5876',GradientType=1 ); /* ie6-9 */
	background-repeat: no-repeat;
}

/* Image Replacement */
.logo_text {
  overflow: hidden;
  position: absolute;
  left: -100rem;
  top: 0;
}

header {
  background: #00345700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

.logo {
  width: 70px;
  height: 70px;
}

.logo img {
  width: 100%;
  height: 100%;
}

main {
	font-family: 'Open Sans', sans-serif;
	color: #8d9096;
	margin: 20% 10%;
}

.font-jumbo {
	font-size: 60px;
}

.font-medium {
	font-size: 25px;
}

.bold {
	font-weight: bold;
}

